
#restaurants-list, #maincontent, #restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav h1 a {
    line-height: 5;
}

#restaurants-list li {
    display: block;
     margin: 0 0 20px 0;
    min-height: auto;
    width: 100%;
}

.filter-options {
    max-width: 100%;
    width: 100vw;
}

.filter-options select {
    max-width: 100%;
    width: 30%
}

.filter-options h2 {
    margin: 5px;
    width: calc((100% - 3 * 40px) / 3);
}

#restaurants-list li a {
    width: 75%
}

@media (min-width: 600px) {
    #restaurants-list li {
        width: calc(50% - 10px);
        margin: 0 0 20px 0;
        display: block;
        box-sizing: border-box;
    }

    .filter-options h2 {
        width: calc((100% - 3 * 40px) / 3);
        text-align: right;
      
      }
    
} 

@media (min-width: 800px) {
    #restaurants-list li {
        width: calc(33% - 10px);
    }




} 



